[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  VITE_API_BASE_URL = "https://finance-tracker-4lpe.onrender.com/api/v1.0"
  VITE_BACKEND_ROOT_URL = "https://finance-tracker-4lpe.onrender.com"

[[redirects]]
  from = "/register"
  to = "/signup"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
